<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iDU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6373C4B115DAEF5C00FA50C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>639DA1BE14D4494500EA3372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63F8305715E0F4F200DDA9DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63F8307E15E0F4F300DDA9DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
